<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-libraries" data-toc-modified-id="Import-libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import libraries</a></span></li><li><span><a href="#Load-data" data-toc-modified-id="Load-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Load data</a></span></li><li><span><a href="#Exploring-the-data" data-toc-modified-id="Exploring-the-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Exploring the data</a></span></li><li><span><a href="#Insert-data-into-SQL" data-toc-modified-id="Insert-data-into-SQL-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Insert data into SQL</a></span><ul class="toc-item"><li><span><a href="#Connect-with-the-DDBB" data-toc-modified-id="Connect-with-the-DDBB-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Connect with the DDBB</a></span></li><li><span><a href="#Load-data" data-toc-modified-id="Load-data-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Load data</a></span></li><li><span><a href="#See-the-table" data-toc-modified-id="See-the-table-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>See the table</a></span></li></ul></li><li><span><a href="#Exploratory-Data-Analysis-EDA" data-toc-modified-id="Exploratory-Data-Analysis-EDA-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Exploratory Data Analysis EDA</a></span><ul class="toc-item"><li><span><a href="#Detecting-Outliers" data-toc-modified-id="Detecting-Outliers-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Detecting Outliers</a></span></li></ul></li></ul></div>

# Import libraries

In [1]:
import pandas as pd

# visualization libraries
import seaborn as sns
import matplotlib.pyplot as plt

# library to work with sql in jupyter notebook
import pymysql
import sqlalchemy as alch

# FALTAN COSITAS!! ðŸš¨
import os
import dotenv

#is a built-in function of sys module that can be used with path variable to add a specific path for interpreter to search.
import sys
sys.path.append('../')

# Load data

In [2]:
df = pd.read_csv("../data/heart.csv")
df.head() # see the first five rows of the dataset

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
# we can also see a random sample of the dataset. In this case, we need to specify the number of rows we want to show(in this case 5)
df.sample(5)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
273,55,M,NAP,120,220,0,LVH,134,N,0.0,Up,0
315,74,M,ATA,145,0,1,ST,123,N,1.3,Up,1
411,54,M,ASY,180,0,1,Normal,150,N,1.5,Flat,1
811,58,F,ASY,100,248,0,LVH,122,N,1.0,Flat,0
221,51,F,ASY,160,303,0,Normal,150,Y,1.0,Flat,1

In [15]:
# To display the bottom 5 rows
df.tail(5)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

# Exploring the data

In [4]:
# How many columns and rows we have
df.shape

(918, 12)

In [5]:
print("The dataset has columns:", df.shape[0], "and rows:", df.shape[1])

The dataset has columns: 918 and rows: 12

In [6]:
# How many null values have in the dataset
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [7]:
# How many null values have in the dataset
df.duplicated().sum()

0

In [9]:
# Explore the types of the columns
df.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

# Insert data into SQL

In order to work with sql the first thing we have to do is to upgrade the sql server. For that we have to go to the terminal and write: 

- On mac

```
mysql.server start
```

- On linux

```
ask Julian
```

Steps to make a new database in sql:

- Click on `create a new squema in the connected server` (METER IMAGENCITA ðŸš¨)


- Set an `schema name` and click on `apply`


- Once we have the schema we look for the `Database` tab and select `Reversed Engineer`.

## Connect with the DDBB

In [10]:
dotenv.load_dotenv()

True

In [11]:
password = os.getenv("pass")
dbName = 'heart'
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

## Load data

In [ ]:
for i, row in df.iterrows():
    engine.execute("""
    INSERT INTO table1 
    VALUES ({row['Age']},{row['Sex']}, "{row['ChestPainType']}", "{row['RestingBP']}", "{row['Cholesterol']}", 
            "{row['FastingBS']}", "{row['RestingECG']}", "{row['MaxHR']}", "{row['ExerciseAngina']}", "{row['Oldpeak']}", 
            "{row['ST_Slope']}", "{row['HeartDisease']}");
    """)

## See the table

In [12]:
query = (f"""
    SELECT * FROM heart.heart;
    """)

In [13]:
df_sql = pd.read_sql_query(query, engine)
df_sql.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

# Exploratory Data Analysis EDA

EDA is understanding the data sets by summarizing their main characteristics often plotting them visually.

## Detecting Outliers

**Further materials**

- [Exploratory Data Analysis](https://towardsdatascience.com/exploratory-data-analysis-in-python-c9a77dfa39ce)